$white: rgb(232, 232, 232);
$black: rgb(16, 16, 16);
$grey: rgb(187, 187, 187);
$yellow: #fce131;
$background: #151d20;
html {
    font-size: 14px;
    height: 100%;
}

body {
    padding: 0;
    margin: 0;
    height: 100%;
    font-family: "Montserrat", sans-serif;
}

.page-wrapper {
    height: 100%;
    background-image: linear-gradient(0deg, rgba(#fff,0), rgba(0,0,0,.3)), url(img/pears.jpg);
    background-size: contain;
    // background-position: -20%;
    background-repeat: no-repeat;
    background-color: $background;

    header {
        padding: 0;
        nav {
            display: flex;
            justify-content: space-between;

            h1 {
                font-family: "Lobster", cursive;
                color: $white;
                font-size: 2rem;
            }

            ul {
                list-style-type: none;
                display: flex;
                align-items: center;

                li {
                    padding: 0 2rem;
                    a {
                        font-weight: 500;
                        color: $grey;
                        text-decoration: none;
                    }
                }
            }
        }
    }

    section.hero {
        padding-top: 8rem;
        h2 {
            font-size: 3rem;
            color: $white;
            font-weight: 400;
            span {
                font-size: 6rem;
                display: block;
                color: $yellow;
                font-weight: 800;
            }
        }

        p {
            width: 400px;
            color: $grey;
        }

        button {
            background-color: $yellow;
            border: 0;
            padding: 1rem 3rem;
            border-radius: 2rem;
            font-weight: 400;
            font-size: 1.3rem;
            margin-top: 2rem;
        }
    }
}

.container {
    width: auto;
    margin: 0 300px;
}

@media screen and (max-width: 1260px) {
    .container {
        margin: 0 200px;
    }
}

@media screen and (max-width: 960px) {
    html {
        font-size: 12px;
    }
}

@media screen and (max-width: 760px) {
    .container {
        width: 100%;
        margin: 0;
    }
    .page-wrapper {
        header {
            padding: 2rem;
        }
    
        section.hero {
            padding: 0 2rem;
        
        }
    }
}
